<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700|Source+Serif+Pro" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header id="pageheader">
        <h1><a href="{{ .Site.BaseURL }}">Knot Cottage</a></h1>
        <label for="openmenu">Menu</label>
        <nav>
            <input type="checkbox" id="openmenu" name="openmenu" />
            <ul>
                <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                <li><a href="/About/">About</a></li>
                <li><a href="/Archives/">Archives</a></li>
                <li><a href="/Contact/">Contact</a></li>
            </ul>
        </nav>
    </header>
