    <section id="body">
        {{ range first 8 .Pages }}
        {{ if eq .Type "posts" }}
        <article class="hentry">
            <header>
                <h1 class="other-class">{{ .Title }}</h1>
                <time class="updated" datetime="{{ .Date.Format "2006-01-02 15:04:05" }}" pubdate>{{ .Date.Format "02-01-2006" }}</time>
            </header>
            <div class="entry-content">
                <p>{{ .Summary }}<br /><a href="{{ .Permalink }}">Read more.</a></p>
            </div>
        </article>
        {{ end }}
        {{ end }}
    </section>